<nav class="navbar navbar-fixed-top bgBlur"></nav>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-5"></div>
      <div class="navbar-header col-sm-3 col-md-3">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home" ng-click="setTag('home')">Navigation Page</a>
      </div>
      <!-- collapse Nav bar -->
      <div id="navbar" class="collapse navbar-collapse col-sm-4 col-md-4">
        <ul class="nav navbar-nav">
          <li ng-class="pickClass('about')"><a href="#about" ng-click="setTag('about')">About</a></li>
          <li ng-class="pickClass('contact')"><a href="#contact" ng-click="setTag('contact')">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>