<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- <header>
  <div class="container">
    <div class="row-fluid">
      <div class="navigation">
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <a class="btn btn-navbar btnOverlay" data-toggle="collapse" data-target=".nav-collapse">
                    menu
                  </a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="#" class="home">Home</a></li>
                <li><a href="#" class="services">Services</a></li>
                <li><a href="#" class="pricing">Pricing</a></li>
                <li><a href="#" class="portfolio">Portfolio</a></li>
                <li><a href="#" class="about">About</a></li>
                <li><a href="#" class="team">Team</a></li>
                <li><a href="#" class="contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> -->